/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
body  {
    padding: 50px 50px 50px 50px;
    color: white;
    background-image: url(https://artic-web.imgix.net/d0d2dbcb-7bfa-4d8a-b8b0-ba5913658d88/Michigan_Ave_North_Lion.jpg);
    background-size: 1500px;

  }

  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
    height: 200px;
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  